// Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
$font-size: 16px;
$font-family: "Nunito", sans-serif;
$line-height: 1;

// Colors
$primary: #1774c0;
$success: #04be14;
$danger: #f02828;
$warning: #e2aa0e;

$text-primary: #282c41;
$text-secondary: #6e7371;

// Container  sizes
$container-width: 1140px;
$container-padding: 0 20px
