:root {
  --size: 106px;
  --border-width: 6px;
  --anim-duration: 3400ms;
  --sqr-clr-1: #bbbb88;
  --sqr-clr-2: #eedd99;
  --sqr-clr-3: #eeaa88;
}

#loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  perspective: 1000px;
}

#loading-wrapper .spinner {
	position: relative;
	width: var(--size);
	height: var(--size);
  animation-name: rotateYAxis;
  animation-duration: calc(var(--anim-duration) * 4);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#loading-wrapper .spinner .spinner-item {
  position: absolute;
  width: calc(var(--size) / 2);
  height: calc(var(--size) / 2);
  border-width: var(--border-width);
  border-style: solid;
  animation-duration: var(--anim-duration);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#loading-wrapper .spinner .spinner-item:nth-child(1) {
  top: 0;
  left: 0;
  border-color: var(--sqr-clr-1);
  animation-name: spinner3A;
}

#loading-wrapper .spinner .spinner-item:nth-child(2) {
  top: 0;
  right: 0;
  border-color: var(--sqr-clr-2);
  animation-name: spinner3B;
}

#loading-wrapper .spinner .spinner-item:nth-child(3) {
  bottom: 0;
  right: 0;
  border-color: var(--sqr-clr-3);
  animation-name: spinner3C;
}

@keyframes spinner3A {
  0%, 8.333333%, 16.666667%, 100% { transform: translate(0%, 0%); }
  25%, 33.333333%, 41.666667% { transform: translate(100%, 0%); }
  50%, 58.333333%, 66.666667% { transform: translate(100%, 100%); }
  75%, 83.333333%, 91.666667% { transform: translate(0%, 100%); }
}

@keyframes spinner3B {
  0%, 8.333333%, 91.666667%, 100% { transform: translate(0%, 0%); }
  16.666667%, 25%, 33.333333% { transform: translate(0%, 100%); }
  41.666667%, 50%, 58.333333% { transform: translate(-100%, 100%); }
  66.666667%, 75%, 83.333333% { transform: translate(-100%, 0%); }
}

@keyframes spinner3C {
  0%, 83.333333%, 91.666667%, 100% { transform: translate(0, 0); }
  8.333333%, 16.666667%, 25% { transform: translate(-100%, 0); }
  33.333333%, 41.666667%, 50% { transform: translate(-100%, -100%); }
  58.333333%, 66.666667%, 75% { transform: translate(0, -100%); }
}

@keyframes rotateYAxis {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}