.primary-checkbox {
  $checkbox-size: 20px;
  $checkbox-border-radius: 3px;
  $checkbox-transition: 0.4s linear;

  display: inline-flex;
  align-items: center;

  .primary-checkbox__checkbox {
    flex: 0 0 $checkbox-size;
    position: relative;
    width: $checkbox-size;
    height: $checkbox-size;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid $primary;
    border-radius: $checkbox-border-radius;
    transition: $checkbox-transition;
    overflow: hidden;
    cursor: pointer;

    &:checked {
      border: none;
      border: 1px solid $primary;
      background-color: $primary;
    }
    &:checked::after {
      transform: scale(1);
      opacity: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 53%;
      height: 53%;
      margin-top: -28%;
      margin-left: -25%;
      background-image: url('./svgs/check.svg');
      transform: scale(4.4) translate(-100%, -70%) rotate(-45deg);
      opacity: 0;
      transition: $checkbox-transition;
    }
  }
  .primary-checkbox__label {
    margin-left: 0.8rem;
    font-size: 1rem;
    cursor: pointer;

    &::selection {
      background-color: transparent;
    }
  }
}
